.booksall {
  display: flex;
  overflow-x: auto;
  justify-content: baseline;
}

.booksall::-webkit-scrollbar {
  display: none;
}
.section.brand{
  background-color: #cacaca;
}

.book {
  display: block;
  width: 600px;
  padding: 2rem;
  border: 1px solid transparent; /* Added border for better hover effect */
  transition: margin-left 0.3s ease-in-out; /* Smooth transition for hover effect */
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 1rem;
}

.book:hover {
  border: 1px solid #ccc; /* Border color on hover */
  margin-left: 20px;
}

.bookimg {
  width: 300px;
}

.bookimgm {
  height: 70vh;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remove{
  border: none;
  outline: none;
  color: var(--white-color);
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: 1rem;
}

.carter {
  background-color: rgb(214, 226, 226);
  padding: 2rem;
  border-radius: 2rem;
}

.first {
  display: flex;
  width: 40%;
}

.quantityall {
  width: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.cartpic {
  width: 20vh;
}

.last {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  margin: 0;
  margin-bottom: -70px;
}

.total-sum{
  width: 100%;
  padding-left: 50%;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.add {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}

.increase , .decrease{
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: var(--white-color);
  border-radius: 3rem;
  background-color: var(--primary-color);
  transition: var(--tran-0-3);
  cursor: pointer;
}
